
input{
    color: #4c002e;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color:antiquewhite;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile p{
    color:#4c002e;
        font-size: 20px;
}
.profile h2{
    color:#4c002e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.you{
    background-color: #ff3030;
    border: 1px solid #4c002e;
    border-radius: 30px;
    margin: 2rem 1.5rem;
    padding: 10px;
    color:#4c002e;
}

.red{
    color:red;
    background-color: beige;
    border-radius: 10px;
}
.green{
    border-radius: 10px;
    color: rgb(123, 237, 9);
    background-color: darkgreen;
}

.orange{
    background-color: rgb(255, 21, 0);
    color: aliceblue;
    border-radius: 10px;
}