.App {
  text-align: center;
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #4c002e;
}


::-webkit-scrollbar-thumb {
  background: #4c002e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e92c2c;
  border-radius: 5px;
}
